target/
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.vscode/
*.log
logs/
out/
build/
.gradle/
bin/
dist/
node_modules/
.DS_Store
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

ddd-clean.iml
